---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_MAPQUEST_API_KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 04 Nov 2020 06:09:38 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2020 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2020 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.739154,"lng":-104.984703},"displayLatLng":{"lat":39.739154,"lng":-104.984703},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_MAPQUEST_API_KEY&type=map&size=225,160&locations=39.7391536,-104.9847034|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1089404793"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XCX","geoco[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_WEATHER_API_KEY&exclude=minutely&lat=39.739154&lon=-104.984703&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604470180,"sunrise":1604410285,"sunset":1604447729,"temp":52.52,"feels_like":44.13,"pressure":1022,"humidity":34,"dew_point":25.79,"uvi":3.11,"clouds":40,"visibility":10000,"wind_speed":6.93,"wind_deg":200,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1604469600,"temp":52.52,"feels_like":46.92,"pressure":1022,"humidity":34,"dew_point":25.79,"clouds":40,"visibility":10000,"wind_speed":1.99,"wind_deg":255,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1604473200,"temp":54.9,"feels_like":49.1,"pressure":1021,"humidity":33,"dew_point":27.01,"clouds":66,"visibility":10000,"wind_speed":2.62,"wind_deg":245,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1604476800,"temp":55.6,"feels_like":49.86,"pressure":1020,"humidity":34,"dew_point":28.2,"clouds":66,"visibility":10000,"wind_speed":2.82,"wind_deg":240,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon[...]
[...]
