---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_WEATHER_API_KEY&exclude=minutely&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.89,"lon":-77.02,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1604470239,"sunrise":1604489945,"sunset":1604527452,"temp":45.28,"feels_like":41.52,"pressure":1027,"humidity":75,"dew_point":37.85,"uvi":2.69,"clouds":20,"visibility":10000,"wind_speed":2.01,"wind_deg":213,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1604469600,"temp":45.28,"feels_like":41.52,"pressure":1027,"humidity":75,"dew_point":37.85,"clouds":20,"visibility":10000,"wind_speed":2.01,"wind_deg":213,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1604473200,"temp":46.83,"feels_like":42.66,"pressure":1027,"humidity":68,"dew_point":36.84,"clouds":10,"visibility":10000,"wind_speed":2.44,"wind_deg":222,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1604476800,"temp":47.25,"feels_like":43.05,"pressure":1028,"humidity":66,"dew_point":36.48,"clouds":4,"visibility":10000,"wind_speed":2.35,"wind_deg":220,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"[...]
